---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { getCollection } from 'astro:content';

const projects = (await getCollection('project')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const techStacks = [
	"Vue.js",
	"Express.js",
	"MySQL",
	"MongoDB",
	"Node.js",
	"Nginx",
	"Laravel",
	"DevOps",
	"AWS",
	"CloudFlare",
]
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>I build web applications and digital tools!</h2>
			<div id="tags-container">
				{
					techStacks.map((tech) => (
						<span class="badge">{tech}</span>
					))

				}
			</div>
			<hr>
			<div id="project-section">
				<h2>Projects</h2>
				<div>
					<ul>
						{
							(projects).slice(0,3).map((project) => (
								<li>									
									<a href={`/project/${project.id}/`}>
										<h4>{project.data.title}</h4>
									</a>
								</li>
							))
						}
					</ul>
				</div>
				<button>See More</button>
			</div>

			
		</main>
		<Footer />
	</body>
</html>

<style scoped>
#tags-container .badge {
	margin-right: .5em;
}

#project-section ul {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: .5em;
	list-style-type: none;
	padding: 0;
}
#project-section li {
	background-color: grey;
}

@media (max-width: 720px) {
	#project-section ul {
		grid-template-columns: auto;
	}
}
</style>
